
.dh-auth-container {
    display: flex;
    width: 850px;
    height: 500px;
    background: #081b29; 
    border-radius: 20px;
    border: 2px solid #00f2fe;
    box-shadow: 0 0 30px rgba(0, 242, 254, 0.4);
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    font-family: sans-serif;
}

.dh-form-section {
    width: 45%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.dh-form-section h2 {
    color: #fff;
    font-size: 32px;
    text-align: center;
    margin-bottom: 30px;
}

.dh-input-group {
    position: relative;
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
    margin: 25px 0;
}

.dh-input-group input {
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
    font-size: 16px;
    padding: 10px 30px 10px 5px;
}

.dh-input-group label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: #efefef;
    pointer-events: none;
    transition: 0.4s;
}

.dh-input-group input:focus~label,
.dh-input-group input:valid~label {
    top: -10px;
    font-size: 13px;
    color: #00f2fe;
}

.dh-info-section {
    width: 55%;
    background: linear-gradient(135deg, #00f2fe, #0072ff);
    clip-path: polygon(20% 0%, 100% 0%, 100% 100%, 0% 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding: 40px 40px 40px 80px;
    text-align: center;
}

.dh-neon-btn {
    width: 100%;
    padding: 12px;
    background: #00f2fe;
    border: none;
    border-radius: 30px;
    color: #081b29;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 0 15px #00f2fe;
    transition: 0.3s;
}

.dh-neon-btn:hover {
    box-shadow: 0 0 25px #00f2fe;
}