@import url('auth-css.css');

.dh-register-container {
    display: flex;
    flex-direction: row-reverse;
    width: 850px;
    height: 500px;
    background: #081b29;
    border-radius: 20px;
    border: 2px solid #00f2fe;
    box-shadow: 0 0 30px rgba(0, 242, 254, 0.4);
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.dh-register-container .dh-info-section {
    clip-path: polygon(0% 0%, 80% 0%, 100% 100%, 0% 100%);
    padding: 40px 80px 40px 40px;
}